@model AuthService.MVC.Models.Pagination.ProductOutput

@using Newtonsoft.Json
@if (TempData["result"] != null)
{
    var statusJson = TempData["result"].ToString();
    var Status = JsonConvert.DeserializeObject<AuthService.MVC.Models.ToastifyModel>(statusJson);
    <partial name="_Toastify" model="@Status" />
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Products</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search " style="border: 1px solid #ccc; border-radius: 6px ">
                <div class="input-group">
                    <input name="name" value="@Model.Name" type="text" class="form-control bg-light border-0 small" placeholder="Search for name"
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = (Model.Page - 1) * 4 + 1;
                            foreach (var item in Model.ListResult)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td><div style="line-height: 25px; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 1; display: -webkit-box; max-width: 300px">@item.Name</div></td>
                                    <td>
                                        <img style="width: 70px; height: 70px; object-fit: cover; border: 1px solid #ccc" src="@item.Thumbnail" />
                                    </td>
                                    <td>@item.Price</td>
                                    <td>
                                        <form style="display: inline" method="get" action="/admin/product/edit/@item.Id">
                                            <button class="btn btn-success">Edit</button>
                                        </form>
                                        <form style="display: inline" method="post" action="/admin/product/showhide/@item.Id">
                                            @if (item.Enabled)
                                            {
                                                <input name="enabled" value="false" hidden/>
                                                <button class="btn btn-danger">Hide</button>
                                            }
                                            else
                                            {
                                                <input name="enabled" value="true" hidden/>
                                                <button class="btn btn-info">Show</button>
                                            }
                                        </form>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
                @{
                    var paginationData = new AuthService.MVC.Models.Pagination.Pagination()
                    {
                        Page = Model.Page,
                        TotalPage = Model.TotalPage,
                        Name = Model.Name
                    };
                }
                <partial name="_Pagination" model="@paginationData" />
            </div>
        </div>
    </div>

</div>