@model AuthService.MVC.Models.Pagination.CategoryOutput

@{
}
<partial name="_StatusMessage" model="@TempData["Result"]"/>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Categories</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search " style="border: 1px solid #ccc; border-radius: 6px ">
                <div class="input-group">
                    <input name="name" value="@Model.Name" type="text" class="form-control bg-light border-0 small" placeholder="Search for name"
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            var i = 1;
                            foreach (var item in Model.ListResult)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <form style="display: inline" method="get" action="/admin/category/edit/@item.Id">
                                            <button class="btn btn-success">Edit</button>
                                        </form>
                                        <form style="display: inline" method="get" action="/admin/category/delete/@item.Id">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                i++;
                             }
                        }
                    </tbody>
                </table>
                <div class="col-12">
                    <div class="pagination d-flex justify-content-center mt-5">
                        <form>
                            <input name="name" value="@Model.Name" hidden />
                            <input name="page" value="@(Model.Page - 1)" hidden />
                            @if (Model.Page == 1)
                            {
                                <div href="#" class="btn btn-dark rounded" style="margin-right: 10px; cursor: auto">&laquo;</div>
                            }
                            else
                            {
                                <button href="#" class="btn btn-primary rounded" style="margin-right: 10px">&laquo;</button>
                            }
                        </form>
                        @for (i = 1; i <= Model.TotalPage; i++)
                        {
                            <form>
                                <input name="name" value="@Model.Name" hidden />
                                <input name="page" value="@i" hidden />
                                @if (Model.Page == i)
                                {
                                    <button href="#" class="btn btn-primary active rounded" style="border: 1px solid #0072ff; margin-right: 10px">@i</button>
                                }
                                else
                                {
                                    <button href="#" class="btn rounded" style="border: 1px solid #0072ff; margin-right: 10px">@i</button>
                                }
                            </form>
                        }
                        <form>
                            <input name="name" value="@Model.Name" hidden />
                            <input name="page" value="@(Model.Page + 1)" hidden />
                            @if (Model.Page == Model.TotalPage)
                            {
                                <div href="#" class="btn btn-dark rounded" style="margin-right: 10px; cursor: auto">&raquo;</div>
                            }
                            else
                            {
                                <button href="#" class="btn btn-primary rounded" style="margin-right: 10px">&raquo;</button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
