@model AuthService.MVC.Models.Pagination.CategoryOutput

@using Newtonsoft.Json
@if (TempData["result"] != null)
{
    var statusJson = TempData["result"].ToString();
    var Status = JsonConvert.DeserializeObject<AuthService.MVC.Models.ToastifyModel>(statusJson);
    <partial name="_Toastify" model="@Status" />
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Categories</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search " style="border: 1px solid #ccc; border-radius: 6px ">
                <div class="input-group">
                    <input name="name" value="@Model.Name" type="text" class="form-control bg-light border-0 small" placeholder="Search for name"
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = (Model.Page - 1) * 4 + 1;
                            foreach (var item in Model.ListResult)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Name</td>
                                    <td>@item.Code</td>
                                    <td>
                                        <form style="display: inline" method="get" action="/admin/category/edit/@item.Id">
                                            <button class="btn btn-success">Edit</button>
                                        </form>
                                        <form style="display: inline" method="post" action="/admin/category/delete/@item.Id">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
                @{ 
                    var paginationData = new AuthService.MVC.Models.Pagination.Pagination()
                    {
                        Page = Model.Page,
                        TotalPage = Model.TotalPage,
                        Name = Model.Name
                    };
                }
                <partial name="_Pagination" model="@paginationData"/>
            </div>
        </div>
    </div>

</div>
