@model List<AuthService.MVC.Models.VoucherViewModel>

<style>
    .coupon {
        border: 2px dashed #000;
        border-radius: 50px;
        background-color: white;
        padding: 20px;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .coupon:before,
        .coupon:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: white;
            border: 1px solid black;
            border-radius: 50%;
        }

        .coupon:before {
            top: -10px;
            left: -10px;
        }

        .coupon:after {
            bottom: -10px;
            right: -10px;
        }

        .coupon .progress {
            height: 20px;
            background-color: #e9ecef;
        }

        .coupon .progress-bar {
            background-color: orange;
        }
</style>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Choose voucher</h5>
            </div>
            <div class="modal-body" style="max-height: 450px; overflow-y: scroll;">

                @foreach (var voucher in Model)
                {
                    <div class="coupon border border-black position-relative d-flex align-items-center">
                        <div class="position-absolute top-0 start-0 translate-middle bg-white border border-black rounded-circle" style="width: 20px; height: 20px;"></div>
                        <div class="position-absolute bottom-0 end-0 translate-middle bg-white border border-black rounded-circle" style="width: 20px; height: 20px;"></div>
                        <div class="d-flex flex-column align-items-center justify-content-center px-4">
                            <span class="text-primary font-weight-bold h4" style="width: 140px">@voucher.Name</span>
                            <span class="display-4 font-weight-bold">@voucher.DiscountPercent%</span>
                        </div>
                        <div class="px-4 border-left border-dotted border-black d-flex flex-column align-items-center justify-content-center">
                            <div class="w-100 progress mb-2">
                                <div class="progress-bar" role="progressbar" style="width: @((float)voucher.UsedQuantity / voucher.Quantity * 100)%;" aria-valuenow="@((float)voucher.UsedQuantity / voucher.Quantity * 100)" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="position-absolute translate-middle font-weight-bold" style="right: -20px; top: 50px; transform: translateX(50%);">@((int)((float)voucher.UsedQuantity / voucher.Quantity * 100))% Used</span>
                            <button id="@voucher.Id" onclick="handleChooseVoucherItem('@voucher.Id')" data-dismiss="modal" class="btn btn-success font-weight-bold py-2 px-4 rounded-pill">Select</button>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var vouchers = [];
</script>

@foreach (var voucher in Model)
{
    <script>
        vouchers = [
                ...vouchers,
                {
                    id: '@(voucher.Id)',
                    discountPercent: '@(voucher.DiscountPercent)',
                    name: '@(voucher.Name)'
                }
            ]
    </script>
}