@model AuthService.MVC.Models.BlogViewModel
@using Microsoft.AspNetCore.Identity
@using AuthService.MVC.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var comments = ViewData["comments"] as List<AuthService.MVC.Models.BlogCommentViewModel>;
}
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="container mt-5">
            <div class="card mx-auto border-0" style="max-width: 64rem;">
                <img src="@Model.Thumbnail" class="card-img-top rounded" style="object-fit: cover; max-height: 400px" alt="">
                <div class="card-body">
                    <h1 class="card-title h4">@Model.Title</h1>
                    <div class="text-muted small mt-2 d-flex align-items-center">
                        <span>by @Model.AuthorName</span>
                        <span class="mx-2">•</span>
                        <span>@Model.CreatedTime.ToString("MMMM dd, yyyy")</span>
                    </div>
                    <p class="text-muted text-small mt-1">NEWS, FRUIT</p>
                    <div class="container my-4">
                        <div class="row border-top pt-4 border-gray-300">
                            <div class="col-auto text-muted display-2">
                                “
                            </div>
                            <div class="col">
                                <p class="text-muted small mt-2">@Model.ShortDescription</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">@Html.Raw(Model.Content)</div>
                </div>

                <div class="container border-top p-5">
                    <h4 class="mb-5 fw-bold">Comment</h4>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        <input id="user-id" name="userId" value="@user.Id" hidden />
                        <input id="blog-id" name="blogId" value="@Model.ExternalId" hidden />
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="border-bottom rounded my-4">
                                    <textarea name="content" id="content" class="form-control border-0" cols="30" rows="4" placeholder="Leave your comment..." spellcheck="false"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between py-3 mb-5">
                                    <div class="d-flex align-items-center">
                                    </div>
                                    <button onclick="handleComment()" type="submit" class="btn border border-secondary text-primary rounded-pill px-4 py-3"> Post Comment</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="comment-list">
                    <partial name="Components/_BlogCommentList" model="@comments" />
                </div>

            </div>
        </div>
    </div>
</div>


<script>
        function handleComment() {
            var formData = new FormData();
            var content = document.getElementById("content").value;
            var blogId = document.getElementById("blog-id").value;
            var userId = document.getElementById("user-id").value;
            formData.append('content', content);
            formData.append('blogId', blogId);
            formData.append('userId', userId);
            $.ajax({
                url: '/Blog/Comment',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $.ajax({
                        url: '/Blog/GetComments/@Model.ExternalId',
                        type: 'GET',
                        success: function (data) {
                            $('#comment-list').html(data);
                            document.getElementById("content").value = "";
                        },
                        error: function (xhr, status, error) {
                            alert('Error: ' + error);
                        }
                    });
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        }
</script>