@model AuthService.MVC.Models.Pagination.BlogOutput

<br />
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Blogs</h1>
        <form class="input-group w-25 d-flex mb-4 mx-3">
            <input value="@Model.Title" name="title" type="search" class="form-control p-3" placeholder="search" aria-describedby="search-icon-1">
            <button type="submit" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
        </form>
        <div class="container-fluid" style="font-family: 'Roboto', sans-serif; display: flex; flex-wrap: wrap">
            @foreach (var blog in Model.ListResult)
            {
                <div style="max-width: 22rem; margin-right: 10px; margin-bottom: 20px;">
                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Slug" class="card">
                        <img src="@blog.Thumbnail" class="card-img-top" alt="A person holding a bouquet of roses, wearing a coat, outside on a snowy day">
                        <div class="card-body">
                            <div class="d-flex text-muted mb-2">
                                <span>by @blog.AuthorName</span>
                                <span class="mx-2">&bull;</span>
                                <span>@blog.CreatedTime.ToString("MMMM dd, yyyy")</span>
                            </div>
                            <h5 style="line-height: 25px; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 1; display: -webkit-box" class="card-title">@blog.Title</h5>
                            <p class="card-text text-black-50" style="line-height: 100px; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3; display: -webkit-box">@blog.ShortDescription</p>
                            <div class="d-flex justify-content-between text-muted">
                                <div class="d-flex align-items-center">
                                    <i class="far fa-comment me-2"></i>
                                    <span>@blog.CommentCount</span>
                                </div>
                                <div class="text-small">NEWS, FRUIT</div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        @{
            var paginationData = new AuthService.MVC.Models.Pagination.Pagination()
            {
                Page = Model.Page,
                TotalPage = Model.TotalPage,
                Title = Model.Title
            };
        }
        <partial name="_Pagination" model="@paginationData" />
    </div>
</div>