@using Microsoft.AspNetCore.Identity
@using AuthService.MVC.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model AuthService.MVC.Models.ProductViewModel

@{
    var relativeProducts = ViewData["relativeProducts"] as AuthService.MVC.Models.Pagination.ProductOutput;
    var commentOutput = ViewData["comments"] as AuthService.MVC.Models.Pagination.CommentOutput;
}

<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-12 col-xl-12">
                <div class="row g-4">
                    <div class="col-lg-4">
                        <div class="border rounded">
                            <a href="#">
                                <img id="main-image" src="@Model.Thumbnail" style="object-fit: cover; aspect-ratio: 1 / 1;" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                        <div>
                            <div class="border rounded d-inline-block sub-image" style="width: 80px; cursor: pointer; margin-top: 5px">
                                <img src="@Model.Thumbnail" class="img-fluid rounded" style="object-fit: cover; aspect-ratio: 1 / 1;" alt="Image">
                            </div>
                            @foreach (var productDetail in Model.ProductDetails)
                            {
                                <div class="border rounded d-inline-block sub-image" style="width: 80px; cursor: pointer; margin-top: 5px">
                                    <img src="@productDetail.Image" class="img-fluid rounded" style="object-fit: cover; aspect-ratio: 1 / 1;" alt="Image">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <h4 class="fw-bold mb-3">@Model.Name</h4>
                        <p class="mb-3">Category: @Model.CategoryName</p>
                        <h5 class="fw-bold mb-3">@Model.Price $</h5>
                        <div class="d-flex mb-4">
                            @{
                                var totalStar = 0;
                                var count = 0;
                                foreach (var comment in Model.Comments)
                                {
                                    totalStar += comment.Star;
                                    count++;
                                }
                                var averageStar = (int)Math.Floor((float)totalStar / count);
                            }
                            @for (int i = 1; i <= averageStar; i++)
                            {
                                <i class="fa fa-star text-secondary"></i>
                            }
                            @for (int i = 1; i <= 5 - averageStar; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        </div>
                        <p class="mb-4">@Model.ShortDescription</p>
                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">
                                    Description
                                </button>
                                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                        aria-controls="nav-mission" aria-selected="false">
                                    Reviews
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                @Html.Raw(Model.FullDescription)
                            </div>
                            <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                <div id="comment-list">
                                    <partial name="Components/_CommentList" model="@commentOutput" />
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-vision" role="tabpanel">
                                <p class="text-dark">
                                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                    amet diam et eos labore. 3
                                </p>
                                <p class="mb-0">
                                    Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit
                                </p>
                            </div>
                        </div>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        <h4 class="mb-5 fw-bold">Comment</h4>
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="border-bottom rounded my-4">
                                    <textarea name="content" id="content" class="form-control border-0" cols="30" rows="8" placeholder="Leave your review..." spellcheck="false"></textarea>
                                </div>
                            </div>
                            <input id="product-id" name="productId" value="@Model.Id" hidden />
                            <input id="user-id" name="userId" value="@user.Id" hidden />
                            <input name="star" id="star-input" hidden />
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between py-3 mb-5">
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 me-3">Please rate:</p>
                                        <div class="d-flex align-items-center" style="font-size: 24px;">
                                            <i data-value="1" name="star" class="fa fa-star text-warning"></i>
                                            <i data-value="2" name="star" class="fa fa-star"></i>
                                            <i data-value="3" name="star" class="fa fa-star"></i>
                                            <i data-value="4" name="star" class="fa fa-star"></i>
                                            <i data-value="5" name="star" class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <button onclick="handleComment()" type="submit" class="btn border border-secondary text-primary rounded-pill px-4 py-3"> Post Comment</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
        <h1 class="fw-bold mb-0">Related products</h1>
        <div class="vesitable">
            <div class="owl-carousel vegetable-carousel justify-content-center">
                @foreach (var product in relativeProducts.ListResult)
                {
                    if (product.Id != Model.Id)
                    {
                        <div class="border border-primary rounded position-relative vesitable-item">
                            <div class="vesitable-img">
                                <img style="object-fit: cover; height: 200px" src="@product.Thumbnail" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@product.CategoryName</div>
                            <div class="p-4 pb-0 rounded-bottom">
                                <h4 style="line-height: 25px; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 1; display: -webkit-box">@product.Name</h4>
                                <p style="line-height: 25px; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 1; display: -webkit-box">@product.ShortDescription</p>
                                <div class="d-flex justify-content-between flex-lg-wrap">
                                    <p class="text-dark fs-5 fw-bold">$@product.Price / kg</p>
                                    <a href="/Product/ProductDetail/@product.Id" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> View detail</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->

<script>
        function handleComment() {
            var formData = new FormData();
            var content = document.getElementById("content").value;
            var star = document.getElementById("star-input").value;
            var productId = document.getElementById("product-id").value;
            var userId = document.getElementById("user-id").value;
            formData.append('content', content);
            formData.append('star', star);
            formData.append('productId', productId);
            formData.append('userId', userId);

            $.ajax({
                url: '/Product/Comment',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $.ajax({
                        url: '/Product/GetComments/@Model.Id',
                        type: 'GET',
                        success: function (data) {
                            $('#comment-list').html(data);
                            document.getElementById("content").value = "";
                        },
                        error: function (xhr, status, error) {
                            alert('Error: ' + error);
                        }
                    });
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        }
</script>
